.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
	max-width: 100%;
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer {
	max-width: 100%;
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-content {
	max-width: 100%;
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-line {
	max-width: 100%;
}